In [27]:
import pandas as pd
import numpy as np
print(pd.__version__)

2.3.0

In [28]:
coffee = pd.read_csv("./warmup-data/coffee.csv")

In [61]:
df = pd.DataFrame({
    "isim": ["Ayşe", "Mehmet", "Ali","Murat"],
    "yaş": [25, 30, 22,40]
})

print(df.index)

RangeIndex(start=0, stop=4, step=1)

In [79]:
df.index = [1,5,9,13]
print(df.index)

Index([1, 5, 9, 13], dtype='int64')

In [80]:
df.head

<bound method NDFrame.head of       isim  yaş
1     Ayşe   25
5   Mehmet   30
9      Ali   22
13   Murat   40>

In [81]:
df

      isim  yaş
1     Ayşe   25
5   Mehmet   30
9      Ali   22
13   Murat   40

In [87]:
df.loc[1:9,["isim"]]

     isim
1    Ayşe
5  Mehmet
9     Ali

In [73]:
coffee.index =  coffee["Day"]

In [74]:
coffee

                 Day Coffee Type  Units Sold
Day
Monday        Monday    Espresso          25
Monday        Monday       Latte          15
Tuesday      Tuesday    Espresso          30
Tuesday      Tuesday       Latte          20
Wednesday  Wednesday    Espresso          35
Wednesday  Wednesday       Latte          25
Thursday    Thursday    Espresso          40
Thursday    Thursday       Latte          30
Friday        Friday    Espresso          45
Friday        Friday       Latte          35
Saturday    Saturday    Espresso          45
Saturday    Saturday       Latte          35
Sunday        Sunday    Espresso          45
Sunday        Sunday       Latte          35

In [75]:
coffee.loc["Monday":"Wednesday"]

                 Day Coffee Type  Units Sold
Day
Monday        Monday    Espresso          25
Monday        Monday       Latte          15
Tuesday      Tuesday    Espresso          30
Tuesday      Tuesday       Latte          20
Wednesday  Wednesday    Espresso          35
Wednesday  Wednesday       Latte          25

In [77]:
print(coffee.index)

Index(['Monday', 'Monday', 'Tuesday', 'Tuesday', 'Wednesday', 'Wednesday',
       'Thursday', 'Thursday', 'Friday', 'Friday', 'Saturday', 'Saturday',
       'Sunday', 'Sunday'],
      dtype='object', name='Day')